/**
 * Overrides for Squarespace layout contents.
 * Probably volatile, dependent on third party updates.
 */

.yr-main .sqs-layout {
    .tweak-yr-sqs-alt-grid & {
        .sqs-row,
        .col,
        .sqs-block {
            .display(flex);
        }

        .sqs-row {
            .flex-flow(row wrap);
            .justify-content(stretch);
            .align-items(stretch);
        }

        .col {
            .flex-flow(column nowrap);
            .justify-content(stretch);
            .align-items(stretch);
        }

        .sqs-block {
            .flex-flow(row wrap);
            .justify-content(stretch);
            .align-items(center);

            .tweak-yr-sqs-row-align-up-high & {
                .align-items(flex-start);
            }

            .tweak-yr-sqs-row-align-down-low & {
                .align-items(flex-end);
            }
        }

        .col,
        .sqs-block {
            flex: 1 0 auto;
        }

        .sqs-block-content {
            flex: 1 1 auto;
        }
    }

    /**
     * Alternating cell colors - kinda works...
     */
    .tweak-yr-sqs-cell-alt-show.tweak-yr-sqs-alt-grid & {
        .sqs-row:nth-child(odd) > [class*="sqs-col"]:nth-child(odd) > .sqs-block:nth-child(even),
        .sqs-row:nth-child(odd) > [class*="sqs-col"]:nth-child(even) > .sqs-block:nth-child(odd),
        .sqs-row:nth-child(even) > [class*="sqs-col"]:nth-child(odd) > .sqs-block:nth-child(odd) {
            background-color: @tweak-yr-sqs-cell-alt-color;
        }
    }

    @m: ~'only screen and @{yr-mq-m-dn}';
    @media @m {
        .sqs-row {
            display: block;
        }

        [class*=sqs-col] {
            float: none;
            width: auto;
        }
    }

    .sqs-block {
        a {
            .yr-a();
        }

        .tweak-yr-sqs-content-full-bleed & {
            padding: 0 !important;
        }
    }

    .sqs-block-image {
        .tweak-yr-sqs-image-block-use-site-fonts & {
            .image-title p {
                .tweak-yr-font-h4 !important;
            }

            .image-subtitle p {
                .tweak-yr-font-p !important;
            }

            .image-caption p {
                .tweak-yr-font-p !important;
                margin: @tweak-yr-sqs-content-space 0;
            }
        }

        .tweak-yr-sqs-image-block-fixed-font-size & {
            .sqs-dynamic-text,
            .image-title-wrapper,
            .image-subtitle-wrapper {
                font-size: 1em !important;
            }
        }

        .design-layout-poster {
            .image-title,
            .image-subtitle {
                a {
                    .yr-a();

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .image-subtitle-wrapper {
                .tweak-yr-sqs-image-block-poster-anchor-sub-up-high &,
                .tweak-yr-sqs-image-block-poster-anchor-sub-down-low & {
                    position: absolute;
                    width: inherit;
                }

                .tweak-yr-sqs-image-block-poster-anchor-sub-up-high & {
                    top: @tweak-yr-sqs-content-space;
                }

                .tweak-yr-sqs-image-block-poster-anchor-sub-down-low & {
                    bottom: @tweak-yr-sqs-content-space;
                }
            }
        }
    }

    .html-block {
        .sqs-block-content {
            padding: @tweak-yr-sqs-content-space;
        }
    }
}
