/**
 * Overrides for Squarespace layout contents.
 * Probably volatile, dependent on third party updates.
 */

.sqs-layout {
    .sqs-row {
        .display(flex);
        .flex-flow(row wrap);
        .justify-content(center);
        .align-items(center);

        .tweak-yr-sqs-row-align-up-high & {
            .justify-content(flex-start);
        }

        .tweak-yr-sqs-row-align-down-low & {
            .justify-content(flex-end);
        }
    }

    @m: ~'only screen and @{yr-mq-m-dn}';
    @media @m {
        .sqs-row {
            display: block;
        }

        [class*=sqs-col] {
            float: none;
            width: auto;
        }
    }

    .sqs-block-image,
    .html-block {
        a {
            .yr-a();
        }
    }

    .sqs-block-image {
        padding: 0 !important;

        .tweak-yr-sqs-image-block-use-site-fonts & {
            .image-title p {
                .tweak-yr-font-h4 !important;
            }

            .image-subtitle p {
                .tweak-yr-font-p !important;
            }

            .image-caption p {
                .tweak-yr-font-p !important;
            }
        }

        .tweak-yr-sqs-image-block-fixed-font-size & {
            .sqs-dynamic-text,
            .image-title-wrapper,
            .image-subtitle-wrapper {
                font-size: 1em !important;
            }
        }

        .design-layout-poster {
            .image-title,
            .image-subtitle {
                a {
                    .yr-a();

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .image-subtitle-wrapper {
                .tweak-yr-sqs-image-block-poster-anchor-sub-up-high &,
                .tweak-yr-sqs-image-block-poster-anchor-sub-down-low & {
                    position: absolute;
                    width: inherit;
                }

                .tweak-yr-sqs-image-block-poster-anchor-sub-up-high & {
                    top: @tweak-yr-sqs-image-block-poster-gap-sub;
                }

                .tweak-yr-sqs-image-block-poster-anchor-sub-down-low & {
                    bottom: @tweak-yr-sqs-image-block-poster-gap-sub;
                }
            }
        }
    }
}

.yr-main {
    .sqs-layout {
        .html-block {
            .sqs-block-content {
                padding: 2em;
            }
        }
    }
}
