.yr-footer {
    display: none;

    .tweak-yr-footer-show & {
        display: block;
    }

    color: @tweak-yr-footer-text-color;
    background-color: @tweak-yr-footer-color;

    .yr-contact {
        display: none;

        .tweak-yr-footer-contact-show & {
            display: block;
        }
    }
}
