/**
 * AJAX Loading
 */

[data-ajax-loading] * {
    cursor: progress;
}


/**
 * Loader bar
 */

.yr-loader {
    .tweak-yr-ajax-enable.tweak-yr-loader-show & {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: @tweak-yr-loader-size;
        z-index: @yr-z-loader;
        pointer-events: none;
        .border-radius(@tweak-yr-loader-size * 0.5);
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-top-width: 0;
        background-color: @tweak-yr-color-accent-2-tone-3;
        opacity: 0;

        .tweak-yr-loader-align-down-low & {
            top: auto;
            bottom: 0;
        }

        will-change: opacity, transform;
        .transition(opacity 500ms ease-out,
            transform 0ms ease-out 500ms;);

        [data-ajax-loading] & {
            opacity: 1;
            .transition(opacity 0ms ease-out,
                transform 500ms ease-out;);
        }

        [data-ajax-loading="navigate"] & {
            .transform(translateX(33%));
        }

        [data-ajax-loading="unload"] & {
            .transform(translateX(66%));
        }

        [data-ajax-loading="load"] & {
            opacity: 0;
            .transform(translateX(100%));
            .transition(opacity 500ms ease-out 500ms,
                transform 500ms ease-out;);
        }
    }
}


/**
 * Loader content animation
 */

.yr-main,
.yr-footer,
.yr-load-fade {
    & { .yr-on-(~'.tweak-yr-loader-fade-content-simple'); .-do() {
        .yr-loader-fade();
    }}
}

.yr-main,
.yr-footer {
    .yr-on-(~'.tweak-yr-loader-fade-content-fancy'); .-do() {
        .yr-loader-fade-stagger-outer();
    }
}

.yr-content {
    .yr-on-(~'.tweak-yr-loader-fade-content-fancy'); .-do() {/*
        * {
            .yr-loader-fade();
            .yr-loader-fade-stagger(1, 12);

            > :nth-child(even) {
                .yr-loader-fade-stagger(1, 23);
            }

            > :nth-child(odd) {
                .yr-loader-fade-stagger(1, 34);
            }

            &:nth-child(even) {
                .yr-loader-fade-stagger(1, 45);

                > :nth-child(even) {
                    .yr-loader-fade-stagger(1, 56);
                }

                > :nth-child(odd) {
                    .yr-loader-fade-stagger(1, 67);
                }
            }
        }
        */

        .yr-load-fade,

        .sqs-layout .sqs-row,
        .sqs-layout .col,
        .sqs-layout .sqs-block,

        .sqs-system-gallery .slide,

        .sqs-events-collection-list .eventlist-event,
        .sqs-events-collection-list [class*="eventlist-column"],

        .sqs-events-collection-item .eventitem-backlink,
        .sqs-events-collection-item [class*="eventitem-column"],
        .sqs-events-collection-item [class*="eventitem-pager"],
        
        .sqs-audio-playlist .track,
        .sqs-audio-playlist .album-cover-wrapper,
        .sqs-audio-playlist .album-title,
        .sqs-audio-playlist .album-artist-name,
        .sqs-audio-playlist .album-description,
        .sqs-audio-playlist .engagement,
        
        .sqs-blog-list .BlogList-item,
        .sqs-blog-list .BlogList-filter,
        
        .BlogItem .BlogItem-title,
        .BlogItem .Blog-meta,
        .BlogItem .BlogItem-share,
        .BlogItem .BlogItem-pagination-link,
        
        .squarespace-comments {
            .yr-loader-fade-stagger-inner(5);
        }
    }
}
