/**
 * WIP.
 * A for-loop implementation - seems to work for number ranges but not lists.
 *
 * @see https://github.com/seven-phases-max/less.curious/blob/master/src/for.less
 */

.yr-for-(@i, @n) {
    .-each(@i);
}

.yr-for-(@n) when (isnumber(@n)) {
    .yr-for-(1, @n);
}

.yr-for-(@i, @n) when not (@i = @n)  {
    .yr-for-((@i + (@n - @i) / abs(@n - @i)), @n);
}


/**
 * A way to use the media query selectors.
 *
 * @example `.yr-m-(~'only screen and @{yr-mq-s-m}'); .-q() {...}`
 */

.yr-m-(@query) {
    @media @query {
        .-q();
    }
}


/**
 * Link styling.
 */

.yr-a() {
    .tweak-yr-fancy-links & {
        position: relative;
        display: inline-block;
        border: 0 solid currentColor;
        text-decoration: none;
        z-index: 1;

        &[target="_blank"] {
            border-style: dashed;
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            border: inherit;
            z-index: -1;

            @x: -2px;
            left: @x;
            right: @x;
            bottom: 0;
            border-bottom-width: 1px;
            pointer-events: none;
            .transform-origin(bottom);
            will-change: transform, opacity, border-color;
            .transition(transform 500ms ease-out,
                opacity 500ms ease-out,
                border-color 500ms ease-out;);
        }

        &:visited::before {
            opacity: 0.33;
        }

        &:hover,
        &:focus,
        &:active {
            &::before {
                .transition(transform 200ms ease-out,
                    opacity 300ms ease-out,
                    border-color 300ms ease-out;);
            }
        }

        &:hover,
        &:focus {
            &::before {
                .transform(scaleY(4));
                opacity: 0.33;
            }
        }

        &:active::before {
            .transform(scaleY(0));
        }

        &:empty::before {
            left: 0;
            right: 0;
        }
    }
}


/**
 * Aliases.
 */

.display(@display) when (@display = flex) {
    .flex-block();
}
.display(@display) when (@display = inline-flex) {
    .flex-inline();
}
