/**
 * WIP.
 * A for-loop implementation - seems to work for number ranges but not lists.
 *
 * @see https://github.com/seven-phases-max/less.curious/blob/master/src/for.less
 */

.yr-for-(@i, @n) {
    .-each(@i);
}

.yr-for-(@n) when (isnumber(@n)) {
    .yr-for-(1, @n);
}

.yr-for-(@i, @n) when not (@i = @n)  {
    .yr-for-((@i + (@n - @i) / abs(@n - @i)), @n);
}


/**
 * A way to use the media query selectors.
 *
 * @example `.yr-m-(~'only screen and @{yr-mq-s-m}'); .-q() {...}`
 */

.yr-m-(@query) {
    @media @query {
        .-q();
    }
}


/**
 * Link styling.
 */

.yr-a() {
    position: relative;
    display: inline-block;
    text-decoration: none;
    border: 0 solid currentColor;

    &::after {
        content: '';
        position: absolute;
        display: block;
        border: inherit;

        @x: -2px;
        left: @x;
        right: @x;
        bottom: 0;
        border-bottom-width: 1px;
        pointer-events: none;
        will-change: transform, opacity;
        @transition: transform 300ms ease-out,
            opacity 500ms ease-out;
        .transition(@transition);
    }

    &:visited::after {
        opacity: 0.4;
    }

    &:hover::after {
        .transform(scaleY(2.5));
        opacity: 0.4;
    }

    &:active::after {
        .transform(scaleY(0));
    }
}


/**
 * Aliases.
 */

.display(@display) when (@display = flex) {
    .flex-block();
}
.display(@display) when (@display = inline-flex) {
    .flex-inline();
}
