.yr-nav-holds {
    position: relative;
    .display(flex);
    .flex-flow(column nowrap);
    .justify-content(center);
    .align-items(center);
    min-height: 100%;

    @mq-circle-up: ~'only screen and @{yr-mq-hold-circle-up}';

    .yr-nav-holds-header {
        .flex(0 0 auto);
        width: 100%;
        padding: 2em;
        text-align: center;

        @media @mq-circle-up {
            position: absolute;
            z-index: 1;
            max-width: 30vmin;
            max-height: 30vmin;
            overflow: auto;
            padding: 0;
        }
    }

    .yr-nav-holds-menu {
        position: relative;
        .display(flex);
        .flex-flow(column nowrap);
        .flex(1 1 auto);
        width: 100%;
        height: 100%;
        max-width: 1300px;
        max-height: 1300px;
        padding: 2em;
    }

    .yr-site-title {
        display: none;

        .tweak-yr-nav-holds-site-title-show & {
            display: block;
        }
    }

    .yr-site-tagline {
        display: none;

        .tweak-yr-nav-holds-site-tagline-show & {
            display: block;
        }
    }

    .yr-site-description {
        display: none;
        font-size: 1em;

        .tweak-yr-nav-holds-site-description-show & {
            display: block;
        }
    }

    .yr-nav-hold {
        display: inline-block;
        position: relative;

        @margin: 10%;
        margin: 0 @margin 0 auto;

        &:nth-child(odd) {
            margin: 0 auto 0 @margin;
        }

        @media @mq-circle-up {
            position: absolute;
            top: 50%;
            left: 50%;

            &,
            &:nth-child(odd) {
                margin: 0;
            }

            .loop-holds(@l, @i: 0) when (@i < @l) {
                .loop-holds(@l, @i + 1);

                & {
                    // This needs to be scoped like this to iterate properly for some reason...
                    @n: @i + 1;

                    &:nth-child((~'@{l}n+@{n}')) {
                        @r: @i * 360deg / @l;

                        @transform:
                            /* Center */
                            translate(-50%, -50%)
                            /* Angle in circle */
                            rotate(@r)
                            /* Move up onto circle circumference */
                            translateY(-47vmin)
                            /* Move back inside bounds of circle */
                            translateY(50%)
                            /* Move back a little margin */
                            translateY(2em)
                            /* Straighten */
                            rotate(-@r);
                        .transform(@transform);
                    }
                }
            }
            .loop-holds(5);
        }
    }

    .yr-nav-hold-a {
        position: relative;
        .display(flex);
        .flex-flow(row wrap);
        .justify-content(center);
        .align-items(center);
        min-width: @tweak-yr-nav-holds-size-min;
        min-height: @tweak-yr-nav-holds-size-min;
        max-width: @tweak-yr-nav-holds-size-max;
        max-height: @tweak-yr-nav-holds-size-max;
        padding: @tweak-yr-nav-holds-pad;
        text-decoration: none;
        color: @tweak-yr-color-base-tone-2;
        z-index: 2;
        .tweak-yr-font-nav-holds;
    }

    .yr-nav-holds-shape-block,
    .yr-nav-hold-view {
        position: absolute;
        pointer-events: none;
        top: -10%;
        right: -10%;
        bottom: -10%;
        left: -10%;
        width: 120%;
        height: 120%;
    }

    .yr-nav-holds-shape-block {
        &@{yr-select-sqs-block-on} ~ .yr-nav-hold-view {
            display: none;
        }

        &@{yr-select-sqs-block-empty} ~ .yr-nav-hold-view {
            display: block;
        }
    }

    .yr-nav-holds-shape-block,
    .yr-nav-hold-view {
        fill: currentColor;
        stroke: currentColor;
        fill-opacity: 0;
        stroke-opacity: 0;
        stroke-width: 0;
        @transition: fill-opacity 400ms ease-in-out,
            stroke-opacity 300ms ease-out,
            stroke-width 200ms ease-out;
        .transition(@transition);
    }

    .yr-nav-hold-view {
        z-index: 1;
    }

    .yr-nav-hold-a {
        &.yr-active,
        &:hover {
            ~ .yr-nav-holds-shape-block,
            ~ .yr-nav-hold-view {
                fill-opacity: 1;
                stroke-width: 10px;
            }
        }

        &:active,
        &.yr-active {
            ~ .yr-nav-holds-shape-block,
            ~ .yr-nav-hold-view {
                stroke-opacity: 0.05;
            }
        }

        &.yr-active:hover {
            ~ .yr-nav-holds-shape-block,
            ~ .yr-nav-hold-view {
                fill-opacity: 0;
                stroke-width: 0;
            }
        }
    }

    .yr-nav-holds-defs {
        display: none;

        path:nth-child(1) {
            fill-opacity: 1;
            stroke-opacity: 1;
        }

        path:nth-child(2) {
            fill: @tweak-yr-color-light-tone-2;
            opacity: 0.2;
            stroke-width: 0;
        }

        path:nth-child(3) {
            stroke: @tweak-yr-color-dark-tone-1;
            fill: none;
            stroke-width: 2px;
            stroke-miterlimit: 10px;
        }
    }

    .yr-nav-hold {
        &:nth-child(5n+1) .yr-use-hold-shape {
            color: @tweak-yr-color-theme-1-tone-2;
        }

        &:nth-child(5n+2) .yr-use-hold-shape {
            color: @tweak-yr-color-theme-2-tone-2;
        }

        &:nth-child(5n+3) .yr-use-hold-shape {
            color: @tweak-yr-color-theme-3-tone-2;
        }

        &:nth-child(5n+4) .yr-use-hold-shape {
            color: @tweak-yr-color-theme-4-tone-2;
        }

        &:nth-child(5n+5) .yr-use-hold-shape {
            color: @tweak-yr-color-theme-5-tone-2;
        }
    }
}
