.yr-nav-holds {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100%;

    @mq-circle-up: ~'only screen and @{yr-mq-hold-circle-up}';

    .yr-nav-holds-header {
        flex: 0 0 auto;
        width: 100%;
        padding: 2em;
        text-align: center;

        @media @mq-circle-up {
            position: absolute;
            z-index: 1;
            max-width: 30vmin;
            max-height: 30vmin;
            overflow: auto;
            padding: 0;
        }
    }

    .yr-nav-holds-menu {
        position: relative;
        flex: 1 1 auto;
        width: 100%;
        height: 100%;
        max-width: 1300px;
        max-height: 1300px;
        padding: 0 2em 2em;
    }

    .yr-site-title {
        display: none;

        .tweak-yr-nav-holds-site-title-show & {
            display: block;
        }
    }

    .yr-site-tagline {
        display: none;

        .tweak-yr-nav-holds-site-tagline-show & {
            display: block;
        }
    }

    .yr-site-description {
        display: none;
        font-size: 1em;

        .tweak-yr-nav-holds-site-description-show & {
            display: block;
        }
    }

    .yr-nav-hold-a {
        position: relative;
        flex: 0 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 5%;
        padding: 5vmin;
        min-width: 140px;
        min-height: 140px;
        max-width: 250px;
        max-height: 250px;
        text-decoration: none;
        color: @tweak-yr-nav-holds-text-color;
        font-weight: 500;
        margin: 1em 0 1em auto;

        &:nth-child(odd) {
            margin: 1em auto 1em 0;
        }

        @media @mq-circle-up {
            position: absolute;
            top: 50%;
            left: 50%;

            .loop-hold-links(@n, @i: 1) when (@i <= @n) {
                &:nth-child((~'@{n}n+@{i}')) {
                    @r: (@i - 1) * 360deg / @n;

                    transform:
                        /* Center */
                        translate(-50%, -50%)
                        /* Angle in circle */
                        rotate(@r)
                        /* Move up onto circle circumference */
                        translateY(-47vmin)
                        /* Move back inside bounds of circle */
                        translateY(50%)
                        /* Move back a little margin */
                        translateY(10%)
                        /* Straighten */
                        rotate(-@r);
                }

                .loop-hold-links(@n, (@i + 1));
            }

            .loop-hold-links(5);
        }
    }

    .yr-nav-hold-text {
        position: relative;
        z-index: 1;
    }

    .yr-nav-holds-shape-block,
    .yr-nav-hold-view {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }

    .yr-nav-hold-view {
        display: none;
    }

    .yr-nav-holds-shape-block.empty ~ .yr-nav-hold-view {
        display: block;
    }

    .yr-use-hold-shape {
        fill: currentColor;
        stroke: transparent;
        stroke-width: 10;
        stroke-opacity: 0.4;
        transition: stroke 300ms ease-out;
    }

    .yr-nav-hold-a:hover .yr-use-hold-shape {
        stroke: currentColor;
    }

    .yr-nav-hold-a:nth-child(5n+1) .yr-use-hold-shape {
        color: @tweak-yr-color-theme-1-main;
    }

    .yr-nav-hold-a:nth-child(5n+2) .yr-use-hold-shape {
        color: @tweak-yr-color-theme-2-main;
    }

    .yr-nav-hold-a:nth-child(5n+3) .yr-use-hold-shape {
        color: @tweak-yr-color-theme-3-main;
    }

    .yr-nav-hold-a:nth-child(5n+4) .yr-use-hold-shape {
        color: @tweak-yr-color-theme-4-main;
    }

    .yr-nav-hold-a:nth-child(5n+5) .yr-use-hold-shape {
        color: @tweak-yr-color-theme-5-main;
    }

    .yr-nav-holds-defs {
        display: none;
    }
}
