/**
 * Common mixins and variables...
 * @see `mixins.less` also.
 */

/**
 * Common styles.
 */

.yr-nav-toggler,
.yr-nav .yr-nav-button {
    .yr-nav-fixed();
}

.yr-nav-toggler,
.yr-nav .yr-nav-toggle {
    .yr-align-nav-right-mid(@tweak-yr-nav-button-offset);
    .yr-size-nav(@tweak-yr-nav-button-size);
}


/**
 * Nav styles.
 */

.yr-nav {
    position: relative;

    /**
     * The bar and its floating background.
     * Setting it up as a detached backdrop element allows the nav bar itself to stay in
     * document flow and push any following elements down by the appropriate amount naturally,
     * While this pseudo-element scrolls fixed to the window outside of document flow.
     */
    
    &::before {
        background-color: @tweak-yr-color-accent-1-tone-2;

        .yr-color-theme-1 & {
            background-color: @tweak-yr-color-theme-1-tone-2;
        }

        .yr-color-theme-2 & {
            background-color: @tweak-yr-color-theme-2-tone-2;
        }

        .yr-color-theme-3 & {
            background-color: @tweak-yr-color-theme-3-tone-2;
        }

        .yr-color-theme-4 & {
            background-color: @tweak-yr-color-theme-4-tone-2;
        }

        .yr-color-theme-5 & {
            background-color: @tweak-yr-color-theme-5-tone-2;
        }

        [data-yr-ajax-loading] & {
            background-color: transparent !important;
        }
    }
    
    .tweak-yr-nav-main-show-bar & {
        &,
        &::before {
            width: 100%;
            height: @tweak-yr-nav-button-size;
            min-height: @tweak-yr-nav-home-size;
            padding: @tweak-yr-nav-button-offset;
            z-index: @yr-z-nav;
        }

        &::before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            will-change: background-color;
            .transition(background-color @yr-fade-page-time ease-out);
        }
    }

    .tweak-yr-nav-main-show-bar.tweak-yr-nav-main-hide-bar-home.homepage & {
        min-height: 0;
        height: 0;
        padding: 0;

        &::before {
            background-color: transparent;
            pointer-events: none;
        }
    }


    /**
     * Nav buttons
     */

    .yr-nav-button {
        .yr-nav-button();
    }

    .yr-nav-button:hover,
    .yr-nav-button:focus,
    .yr-nav-toggler:hover + & .yr-nav-toggle,
    .yr-nav-toggler:focus + & .yr-nav-toggle {
        color: @tweak-yr-color-light-1-tone-1;
        @transition: opacity 100ms @yr-ease-fade,
            color 100ms @yr-ease-fade;
        .transition(@transition);
    }

    .tweak-yr-nav-main-hide-bar-home.homepage & > .yr-nav-button {
        color: @tweak-yr-color-accent-1-tone-1;
    }

    .tweak-yr-nav-main-hide-bar-home.homepage & > .yr-nav-button:hover,
    .tweak-yr-nav-main-hide-bar-home.homepage & > .yr-nav-button:focus,
    .tweak-yr-nav-main-hide-bar-home.homepage .yr-nav-toggler:hover + & > .yr-nav-toggle,
    .tweak-yr-nav-main-hide-bar-home.homepage .yr-nav-toggler:focus + & > .yr-nav-toggle {
        color: @tweak-yr-color-accent-1-tone-3;
    }

    .yr-svg-shape {
        .yr-nav-svg-shape();
    }

    .yr-nav-home-a {
        z-index: @yr-z-nav-home;
        .yr-align-nav-left-mid(@tweak-yr-nav-button-offset);
        .yr-size-nav(@tweak-yr-nav-home-size);

        .tweak-yr-nav-main-hide-bar-home.homepage & {
            opacity: 0;
            pointer-events: none;
        }
    }

    .yr-nav-toggle {
        z-index: @yr-z-nav-toggle;
    }

    .yr-nav-toggler:hover + &.yr-nav-toggle,
    .yr-nav-toggler:focus + &.yr-nav-toggle {
        color: @tweak-yr-color-light-1-tone-1;

        .tweak-yr-nav-main-hide-bar-home.homepage & {
            color: @tweak-yr-color-accent-1-tone-3;
        }
    }

    .yr-nav-toggle-close {
        color: @tweak-yr-color-light-1-tone-3;
    }

    .yr-nav-overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 100%;
        max-width: none;
        z-index: @yr-z-nav-overlay;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        background-color: @tweak-yr-nav-main-overlay-color;
        will-change: opacity, bottom;
        @transition: opacity @yr-fade-page-time ease-out,
            bottom 0ms linear @yr-fade-page-time;
        .transition(@transition);

        .yr-nav-toggler:checked + & {
            opacity: 1;
            bottom: 0;
            pointer-events: all;

            @transition: opacity @yr-fade-page-time ease-out,
                bottom 0ms linear 0ms;
            .transition(@transition);
        }

        .tweak-yr-nav-overlay-nah & {
            display: none;
        }
    }

    .yr-nav-button-icon();


    /**
     * Nav menu
     */

    @nav-gap: 2.7rem;
    @num-fades: 4;
    @time-pane: @yr-fade-page-time * 0.5;
    @time-fades: @yr-fade-page-time * 0.5 / @num-fades;

    .yr-nav-panel {
        .display(flex);
        .flex-flow(column nowrap);
        .justify-content(flex-start);
        .align-items(center);
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: @tweak-yr-nav-main-size-max;
        z-index: @yr-z-nav-panel;
        padding: @nav-gap;
        color: @tweak-yr-color-light-1-tone-3;
        background-color: @tweak-yr-color-accent-1-tone-3;
        text-align: center;
        overflow-y: auto;
        will-change: transform;
        .transition(transform @time-pane @yr-ease-slide (@num-fades * @time-fades));
        .yr-align-nav-left(100%);

        .yr-nav-toggler:checked + & {
            .transform(translateX(-100%));
            .transition-delay(0ms);

            .tweak-yr-nav-align-switch & {
                .transform(translateX(100%));
            }

            .yr-nav-fade {
                opacity: 1;

                .yr-for-(@num-fades); .-each(@i) {
                    &:nth-child(@i) {
                        .transition-delay(@time-pane + ((@i - 1) * @time-fades));
                    }
                }
            }
        }
    }

    .yr-nav-header,
    .yr-nav-footer-block {
        width: 100%;
        .flex(0 0 auto);
    }

    .yr-nav-header {
        margin-bottom: @nav-gap;
    }

    .yr-nav-footer-block {
        &@{yr-select-sqs-block-on} {
            margin-top: @nav-gap;
        }

        &@{yr-select-sqs-block-empty} {
            margin-top: 0;
        }

        &,
        & p {
            .tweak-yr-font-nav-footer;
        }
    }

    .yr-site-title {
        display: none;
        padding: 0;

        .tweak-yr-nav-main-site-title-show & {
            display: block;
        }
    }

    .yr-site-tagline {
        display: none;
        font-weight: normal;

        .tweak-yr-nav-main-site-tagline-show & {
            display: block;
        }
    }

    .yr-site-description {
        display: none;
        font-weight: normal;

        .tweak-yr-nav-main-site-description-show & {
            display: block;
        }
    }

    .yr-site-title-a {
        display: block;
        text-decoration: none;
    }

    .yr-nav-links,
    .yr-nav-folder-links {
        .display(flex);
        .flex-flow(column nowrap);
        .justify-content(flex-start);
        .align-items(center);
        width: 100%;
        min-height: 2em;
        padding: 0.3em 0;
        margin: auto;
    }

    .yr-nav-links {
        .flex(0 1 auto);
        overflow-y: auto;
        .tweak-yr-font-nav-a;
    }

    .yr-nav-a {
        display: block;
        margin: 0.3em 0;

        .yr-on-(~'.tweak-yr-a-style-fancy'); .-do() {
            border-color: @tweak-yr-color-accent-2-tone-1;

            &::before {
                border-bottom-width: 2px;
                .transform(scaleY(0));
            }

            &.yr-active {
                &::before {
                    .transform(scaleY(1));
                }
            }

            [data-mercury-loading] &::before {
                .transform(scaleY(0));
            }
        }
    }

    .yr-nav-folder-a {
        width: 100%;
        margin-bottom: 0;

        .yr-on-(~'.tweak-yr-a-style-fancy'); .-do() {
            border-style: dotted;
            border-color: @tweak-yr-color-accent-1-tone-2;

            &::before {
                .transform(none);
            }

            &:hover,
            &:focus,
            &:active,
            &.yr-active {
                border-color: @tweak-yr-color-accent-2-tone-1;

                + .yr-nav-folder-links {
                    background-color: fade(@tweak-yr-color-accent-2-tone-1, 25%);
                    .transition(background-color 300ms ease-out;);
                }
            }

            [data-mercury-loading] & {
                &::before {
                    opacity: 0;
                }

                + .yr-nav-folder-links {
                    background-color: transparent;
                }
            }
        }
    }

    .yr-nav-folder-links {
        .flex(0 0 auto);
        background-color: @tweak-yr-color-accent-1-tone-2;
        will-change: background-color;
        .transition(background-color 500ms ease-out;);
    }

    .yr-nav-fade {
        opacity: 0;
        will-change: opacity;
        .transition(opacity 200ms @yr-ease-fade);

        .yr-for-(@num-fades); .-each(@i) {
            &:nth-child(@i) {
                .transition-delay((@i - 1) * @time-fades);
            }
        }
    }
}


/**
 * Toggler styles.
 */

.yr-nav-toggler {
    /**
     * Need to do the `max` size this way, because `<input>` doesn't
     * respect `min-width`/`min-height` properly.
     */
    @button-size: max(@yr-size-hit-min, @tweak-yr-nav-button-size);

    width: @button-size;
    height: @button-size;

    z-index: @yr-z-nav-toggler;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: none;

    @time-content: @yr-fade-page-time * 0.5;

    ~ .yr-content {
        .tweak-yr-nav-overlay-fancy &,
        .tweak-yr-nav-overlay-fancier & {
            // Messes with stacking contents too widely
            // will-change: opacity, transform, filter;
            @transition: opacity @time-content ease-in,
                transform @time-content ease-in @time-content,
                filter @time-content ease-in;
            .transition(@transition);
        }
    }

    &:checked {
        ~ .yr-content {
            .tweak-yr-nav-overlay-fancy &,
            .tweak-yr-nav-overlay-fancier & {
                opacity: 0.5;

                // Issues with `transform-origin` on long pages
                // @scale: @tweak-yr-fade-page-scale;
                @scale: 1;
                @move: @tweak-yr-fade-page-move * 0.5;

                @transform: translateX(-@move) scale(@scale);
                .transform(@transform);

                @transition: opacity @time-content ease-out,
                    transform @time-content ease-out,
                    filter @time-content ease-out;
                .transition(@transition);

                .tweak-yr-nav-align-switch & {
                    @transform: translateX(@move) scale(@scale);
                    .transform(@transform);
                }
            }

            .tweak-yr-nav-overlay-fancy & {
                filter: ~'saturate(0%)';
            }

            .tweak-yr-nav-overlay-fancier & {
                filter: ~'saturate(0%)' blur(2px);
            }
        }
    }
}
