.yr-nav-toggle {
    position: fixed;
    z-index: @yr-z-nav-toggle;
}

.yr-nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 40em;
    z-index: @yr-z-nav;
    padding: 3em;
    color: @tweak-nav-text-color;
    background-color: @tweak-nav-background-color;
    text-align: center;
    overflow-y: auto;

    .yr-nav-header {}

    .yr-site-title-link {
        display: inline-block;
    }

    .yr-nav-links {
        margin: auto;
    }

    .yr-nav-link {
        display: block;
    }
}
