.yr-nav-toggle {
    position: fixed;
    z-index: @yr-z-nav-toggle;
}

.yr-nav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 40em;
    z-index: @yr-z-nav;
    background-color: @tweak-nav-background-color;
}
