*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    .tweak-body-font;
    margin: 0 auto;
}

h1 {
    .tweak-h1-font;
}

h2 {
    .tweak-h2-font;
}

h3 {
    .tweak-h3-font;
}

h4 {
    .tweak-h4-font;
}

h5 {
    .tweak-h5-font;
}

h6 {
    .tweak-h6-font;
}
