*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    background-color: @tweak-site-body-background-color;
}

body {
    .tweak-body-font;
    margin: 0 auto;
}

/**
 * AJAX Loading
 */

[data-ajax-loading] {
  cursor: progress;
}

.yr-loader {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: @tweak-site-ajax-loading-bar-size;
    z-index: @yr-z-loader;
    pointer-events: none;

    background-color: transparent;
    .transition(background-color 0.3s ease-out, transform 0s 0.3s linear;);

    [data-mercury-loading] & {
        background-color: @tweak-site-ajax-loading-bar-color;
        .transition(transform 0.3s cubic-bezier(0, 0, 0, 0.618));
        .transform(translatex(60%));
    }

    [data-mercury-loading='done'] & {
        .transform(translatex(100%));
    }

    // Show
    display: none;

    .tweak-site-ajax-loading-enable.tweak-site-ajax-loading-bar-show & {
        display: block;
    }
}

h1 {
    .tweak-h1-font;
}

h2 {
    .tweak-h2-font;
}

h3 {
    .tweak-h3-font;
}

h4 {
    .tweak-h4-font;
}

h5 {
    .tweak-h5-font;
}

h6 {
    .tweak-h6-font;
}
