*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    background-color: @tweak-yr-color-base-tone-2;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 auto;
    color: @tweak-yr-color-dark-tone-2;
    .tweak-yr-body-font;
}

.yr-main {
    flex: 1 0 auto;
}

p {
    margin: @tweak-yr-p-margin 0;
}

h1 {
    /* color: @tweak-yr-color-dark-tone-1; */
    .tweak-yr-h1-font;
    padding: @tweak-yr-h1-margin 0;
}

h2 {
    /* color: @tweak-yr-color-dark-tone-1; */
    .tweak-yr-h2-font;
    margin: @tweak-yr-h2-margin 0;
}

h3 {
    /* color: @tweak-yr-color-dark-tone-2; */
    .tweak-yr-h3-font;
    margin: @tweak-yr-h3-margin 0;
}

h4 {
    /* color: @tweak-yr-color-dark-tone-2; */
    .tweak-yr-h4-font;
    margin: @tweak-yr-h4-margin 0;
}

h5 {
    /* color: @tweak-yr-color-dark-tone-3; */
    .tweak-yr-h5-font;
    margin: @tweak-yr-h5-margin 0;
}

h6 {
    /* color: @tweak-yr-color-dark-tone-3; */
    .tweak-yr-h6-font;
    margin: @tweak-yr-h6-margin 0;
}

a {
    /* color: @tweak-yr-color-dark-tone-1; */
    color: inherit;
    cursor: pointer;
}

a.yr-a,
.yr-a a {
    position: relative;
    display: inline-block;
    text-decoration: none;

    &::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: currentColor;
        transition: transform 400ms ease-out,
            opacity 400ms ease-out;
    }

    &:visited::after {
        opacity: 0.7;
    }

    &:hover::after {
        transform: scaleY(2);
    }

    &:active::after {
        transform: scaleY(4);
        opacity: 0;
    }
}

strong {
    font-weight: bold;
}

small {
    font-size: 0.8em;
}

img,
.yr-inline-svg {
    display: inline-block;
}


/**
 * AJAX Loading
 */

[data-ajax-loading] {
  cursor: progress;
}

.yr-loader {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: @tweak-yr-loader-size;
    z-index: @yr-z-loader;
    pointer-events: none;

    background-color: transparent;
    .transition(background-color 300ms ease-out, transform 300ms ease-out 300ms;);

    .tweak-yr-loader-align-down-low & {
        top: auto;
        bottom: 0;
    }

    [data-mercury-loading] & {
        background-color: @tweak-yr-color-accent-2-tone-3;
        .transition(background-color 300ms ease-out, transform 300ms ease-out;);
    }

    [data-mercury-loading='start'] & {
        .transform(translateX(33%));
        .transition(transform 300ms ease-out;);
    }

    [data-mercury-loading='swap'] & {
        .transform(translateX(66%));
    }

    [data-mercury-loading='done'] & {
        .transform(translateX(100%));
    }

    // Show
    display: none;

    .tweak-yr-ajax-enable.tweak-yr-loader-show & {
        display: block;
    }
}
