/**
 * Site
 */

/**
 * Loading
 */

// tweak: { "category": "Site / Loading", "label": "Enable AJAX Loading", "title": "tweak-yr-ajax-enable", "type": "checkbox", "active": true, "js": "true" }
// tweak: { "category": "Site / Loading", "label": "Show Loading Bar", "title": "tweak-yr-loader-show", "type": "checkbox", "active": true, "showOnlyWhenPresent": ".tweak-yr-ajax-enable" }
// tweak: { "category": "Site / Loading", "label": "Loading Bar Position", "title": "tweak-yr-loader-align", "type": "dropdown", "options": ["Up High", "Down Low"], "default": "Up High", target: ".yr-loader", "showOnlyWhenPresent": ".tweak-yr-ajax-enable.tweak-yr-loader-show" }

// tweak: { "category": "Site / Loading", "label": "Loading Bar Size", "title": "tweak-yr-loader-size", "type": "value", "step": 1, "min": 1, "max": 120, target: ".yr-loader", "showOnlyWhenPresent": ".tweak-yr-ajax-enable.tweak-yr-loader-show" }
@tweak-yr-loader-size: 3px;


/**
 * Main Navigation
 */

// tweak: { "category": "Main Navigation", "label": "Navigation Position", "title": "tweak-yr-nav-align", "type": "dropdown", "options": ["regular", "switch"], "default": "regular", target: ".yr-nav-toggler, .yr-nav-button" }

// tweak: { "category": "Main Navigation", "label": "Links Font", "title": "tweak-yr-font-nav-a", "type": "font", "loadAllVariants": true, "target": ".yr-nav-a" }
.tweak-yr-font-nav-a {
    // Doesn't display well in `Style Editor`...
    // font-family: @yr-font-sans-bold;
    font-family: 'Centrale Sans Bold', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1em;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
}

// tweak: { "category": "Main Navigation", "label": "Maximum Size", "title": "tweak-yr-nav-main-size-max", "type": "value", "min": 0, "max": 100, "step": 1, "target": ".yr-nav-panel" }
@tweak-yr-nav-main-size-max: 32em;

/**
 * Main Navigation / Header
 */

// tweak: { "category": "Main Navigation / Header", "label": "Show Site Title in Main Navigation", "title": "tweak-yr-nav-main-site-title-show", "type": "checkbox", "active": true, "target": ".yr-nav .yr-nav-header" }
// tweak: { "category": "Main Navigation / Header", "label": "Show Site Tagline in Main Navigation", "title": "tweak-yr-nav-main-site-tagline-show", "type": "checkbox", "active": true, "target": ".yr-nav .yr-nav-header" }
// tweak: { "category": "Main Navigation / Header", "label": "Show Site Description in Main Navigation", "title": "tweak-yr-nav-main-site-description-show", "type": "checkbox", "active": true, "target": ".yr-nav .yr-nav-header" }


/**
 * Main Navigation / Footer
 */

// tweak: { "category": "Main Navigation / Footer", "label": "Font", "title": "tweak-yr-font-nav-footer", "type": "font", "loadAllVariants": true, "target": ".yr-nav-footer-block" }
.tweak-yr-font-nav-footer {
    // Doesn't display well in `Style Editor`...
    // font-family: @yr-font-sans-bold;
    font-family: 'Centrale Sans Medium', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
}


/**
 * Main Navigation / Buttons
 */

// tweak: { "category": "Main Navigation / Buttons", "label": "Button Offset", "title": "tweak-yr-nav-button-offset", "type": "value", "min" : 0, "max" : 100, "step" : 1, target: ".yr-nav-button, .yr-nav-toggler" }
@tweak-yr-nav-button-offset: 2.7rem;

// tweak: { "category": "Main Navigation / Buttons", "label": "Button Size", "title": "tweak-yr-nav-button-size", "type": "value", "min" : 10, "max" : 100, "step" : 1, target: ".yr-nav-toggler" }
@tweak-yr-nav-button-size: 22px;

// tweak: { "category": "Main Navigation / Buttons", "label": "Home Button Size", "title": "tweak-yr-nav-home-size", "type": "value", "min" : 10, "max" : 100, "step" : 1, target: ".yr-nav-home-a" }
@tweak-yr-nav-home-size: 38px;


/**
 * Holds Navigation
 */

// tweak: { "category": "Holds Navigation", "label": "Font", "title": "tweak-yr-font-nav-holds", "type": "font", "loadAllVariants": true, "target": ".yr-nav-hold-a" }
.tweak-yr-font-nav-holds {
    // Doesn't display well in `Style Editor`...
    // font-family: @yr-font-sans;
    font-family: 'Centrale Sans Medium', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
}

// tweak: { "category": "Holds Navigation", "label": "Minimum Size", "title": "tweak-yr-nav-holds-size-min", "type": "value", "min": 0, "max": 100, "step": 1, "target": ".yr-nav-hold-a" }
@tweak-yr-nav-holds-size-min: 9em;

// tweak: { "category": "Holds Navigation", "label": "Maximum Size", "title": "tweak-yr-nav-holds-size-max", "type": "value", "min": 0, "max": 100, "step": 1, "target": ".yr-nav-hold-a" }
@tweak-yr-nav-holds-size-max: 18em;

// tweak: { "category": "Holds Navigation", "label": "Switch to Circle Size", "title": "tweak-yr-mq-hold-circle-up", "type": "value", "min": 0, "max": 2000, "step": 1, "target": ".yr-nav-holds" }
@tweak-yr-mq-hold-circle-up: 500px;

// tweak: { "category": "Holds Navigation", "label": "Padding", "title": "tweak-yr-nav-holds-pad", "type": "value", "min": -50, "max": 100, "step": 1, "target": ".yr-nav-hold-a" }
@tweak-yr-nav-holds-pad: 8vmin;


/**
 * Holds Navigation / Header
 */

// tweak: { "category": "Holds Navigation / Header", "label": "Show Site Title in Holds Navigation", "title": "tweak-yr-nav-holds-site-title-show", "type": "checkbox", "active": false, "target": "yr-nav-holds .yr-nav-holds-header" }
// tweak: { "category": "Holds Navigation / Header", "label": "Show Site Tagline in Holds Navigation", "title": "tweak-yr-nav-holds-site-tagline-show", "type": "checkbox", "active": false, "target": "yr-nav-holds .yr-nav-holds-header" }
// tweak: { "category": "Holds Navigation / Header", "label": "Show Site Description in Holds Navigation", "title": "tweak-yr-nav-holds-site-description-show", "type": "checkbox", "active": false, "target": "yr-nav-holds .yr-nav-holds-header" }


/**
 * Typography
 */

// tweak: { "category": "Typography", "label": "Big Screen Font Size", "title": "tweak-yr-font-base-size-2", "type": "value", "min": 0, "max": 100, "step": 1, "target": "body" }
@tweak-yr-font-base-size-2: 15pt;

// tweak: { "category": "Typography", "label": "Base", "title": "tweak-yr-font-base", "type": "font", "loadAllVariants": true, "target": "body" }
.tweak-yr-font-base {
    // Doesn't display well in `Style Editor`...
    // font-family: @yr-font-serif;
    font-family: 'Andulka Book Pro', 'Merriweather', 'Palatino', 'Georgia', serif;
    font-size: 13pt;
    line-height: 1.6em;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
}

// tweak: { "category": "Typography", "label": "Paragraph", "title": "tweak-yr-font-p", "type": "font", "loadAllVariants": true, "target": "p, .tweak-yr-sqs-image-block-use-site-fonts .sqs-block-image" }
.tweak-yr-font-p {
    // Doesn't display well in `Style Editor`...
    // font-family: @yr-font-serif;
    font-family: 'Andulka Book Pro', 'Merriweather', 'Palatino', 'Georgia', serif;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
}

// tweak: { "category": "Typography", "label": "Heading 1", "title": "tweak-yr-font-h1", "type": "font", "loadAllVariants": true, "target": "h1" }
.tweak-yr-font-h1 {
    // Doesn't display well in `Style Editor`...
    // font-family: @yr-font-sans-bold;
    font-family: 'Centrale Sans Bold', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 11vw;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
}

// tweak: { "category": "Typography", "label": "Heading 2", "title": "tweak-yr-font-h2", "type": "font", "loadAllVariants": true, "target": "h2" }
.tweak-yr-font-h2 {
    // Doesn't display well in `Style Editor`...
    // font-family: @yr-font-sans-bold;
    font-family: 'Centrale Sans Bold', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
}

// tweak: { "category": "Typography", "label": "Heading 3", "title": "tweak-yr-font-h3", "type": "font", "loadAllVariants": true, "target": "h3" }
.tweak-yr-font-h3 {
    // Doesn't display well in `Style Editor`...
    // font-family: @yr-font-serif;
    font-family: 'Andulka Book Pro', 'Merriweather', 'Palatino', 'Georgia', serif;
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
}

/* @note `Style Editor` WYSIWYG only shows first 3 heading sizes. */

// tweak: { "category": "Typography", "label": "Heading 4", "title": "tweak-yr-font-h4", "type": "font", "loadAllVariants": true, "target": "h4, .tweak-yr-sqs-image-block-use-site-fonts .sqs-block-image" }
.tweak-yr-font-h4 {
    // Doesn't display well in `Style Editor`...
    // font-family: @yr-font-sans-bold;
    font-family: 'Centrale Sans Bold', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6em;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
}

// tweak: { "category": "Typography", "label": "Heading 5", "title": "tweak-yr-font-h5", "type": "font", "loadAllVariants": true, "target": "h5" }
.tweak-yr-font-h5 {
    // Doesn't display well in `Style Editor`...
    // font-family: @yr-font-sans-bold;
    font-family: 'Centrale Sans Bold', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6em;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
}

// tweak: { "category": "Typography", "label": "Heading 6", "title": "tweak-yr-font-h6", "type": "font", "loadAllVariants": true, "target": "h6, .tweak-yr-sqs-image-block-use-site-fonts .sqs-block-image" }
.tweak-yr-font-h6 {
    // Doesn't display well in `Style Editor`...
    // font-family: @yr-font-serif;
    font-family: 'Andulka Book Pro', 'Merriweather', 'Palatino', 'Georgia', serif;
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
}


/**
 * Spacing
 */

// tweak: { "category": "Spacing", "label": "Paragraph Margin", "title": "tweak-yr-p-margin", "type": "value", "min": -50, "max": 100, "step": 1, "target": "p" }
@tweak-yr-p-margin: 0.5em;

// tweak: { "category": "Spacing", "label": "Heading 1 Margin", "title": "tweak-yr-h1-margin", "type": "value", "min": -50, "max": 100, "step": 1, "target": "h1" }
@tweak-yr-h1-margin: 10vh;

// tweak: { "category": "Spacing", "label": "Heading 2 Margin", "title": "tweak-yr-h2-margin", "type": "value", "min": -50, "max": 100, "step": 1, "target": "h2" }
@tweak-yr-h2-margin: 1em;

// tweak: { "category": "Spacing", "label": "Heading 3 Margin", "title": "tweak-yr-h3-margin", "type": "value", "min": -50, "max": 100, "step": 1, "target": "h3" }
@tweak-yr-h3-margin: 0.5em;

// tweak: { "category": "Spacing", "label": "Heading 4 Margin", "title": "tweak-yr-h4-margin", "type": "value", "min": -50, "max": 100, "step": 1, "target": "h4" }
@tweak-yr-h4-margin: 1.6em;

// tweak: { "category": "Spacing", "label": "Heading 5 Margin", "title": "tweak-yr-h5-margin", "type": "value", "min": -50, "max": 100, "step": 1, "target": "h5" }
@tweak-yr-h5-margin: 1em;

// tweak: { "category": "Spacing", "label": "Heading 6 Margin", "title": "tweak-yr-h6-margin", "type": "value", "min": -50, "max": 100, "step": 1, "target": "h6" }
@tweak-yr-h6-margin: 0.5em;


/**
 * Colors
 */


/**
 * Colors / Base
 */

// tweak: { "category": "Colors / Base", "label": "Tone 1", "title": "tweak-yr-color-base-tone-1", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-base-tone-1: #f8e2c9;

// tweak: { "category": "Colors / Base", "label": "Tone 2", "title": "tweak-yr-color-base-tone-2", "type": "color", "disableTransparency": "false", "target": ".yr-nav-panel, .yr-nav-a, .yr-nav-button, .yr-nav-hold-a" }
@tweak-yr-color-base-tone-2: #f9efe0;

// tweak: { "category": "Colors / Base", "label": "Tone 3", "title": "tweak-yr-color-base-tone-3", "type": "color", "disableTransparency": "false", "target": ".yr-footer" }
@tweak-yr-color-base-tone-3: #fff9f2;


/**
 * Colors / Dark
 */

// tweak: { "category": "Colors / Dark", "label": "Tone 1", "title": "tweak-yr-color-dark-tone-1", "type": "color", "disableTransparency": "false", "target": "h1, h2" }
@tweak-yr-color-dark-tone-1: #000000;

// tweak: { "category": "Colors / Dark", "label": "Tone 2", "title": "tweak-yr-color-dark-tone-2", "type": "color", "disableTransparency": "false", "target": "h3, h4, p" }
@tweak-yr-color-dark-tone-2: #161614;

// tweak: { "category": "Colors / Dark", "label": "Tone 3", "title": "tweak-yr-color-dark-tone-3", "type": "color", "disableTransparency": "false", "target": "h5, h6, .yr-footer" }
@tweak-yr-color-dark-tone-3: #323232;


/**
 * Colors / Light
 */

// tweak: { "category": "Colors / Light", "label": "Tone 1", "title": "tweak-yr-color-light-tone-1", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-light-tone-1: rgba(255, 255, 255, 0.2);

// tweak: { "category": "Colors / Light", "label": "Tone 2", "title": "tweak-yr-color-light-tone-2", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-light-tone-2: #fff;

// tweak: { "category": "Colors / Light", "label": "Tone 3", "title": "tweak-yr-color-light-tone-3", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-light-tone-3: rgba(255, 255, 255, 0.8);


/**
 * Colors / Accent 1
 */

// tweak: { "category": "Colors / Accent 1", "label": "Tone 1", "title": "tweak-yr-color-accent-1-tone-1", "type": "color", "disableTransparency": "false", "target": ".yr-nav-panel" }
@tweak-yr-color-accent-1-tone-1: #05443d;

// tweak: { "category": "Colors / Accent 1", "label": "Tone 2", "title": "tweak-yr-color-accent-1-tone-2", "type": "color", "disableTransparency": "false", "target": ".yr-nav, .yr-nav, .yr-nav-panel" }
@tweak-yr-color-accent-1-tone-2: #075e56;

// tweak: { "category": "Colors / Accent 1", "label": "Tone 3", "title": "tweak-yr-color-accent-1-tone-3", "type": "color", "disableTransparency": "false", "target": ".yr-nav, .yr-nav-panel" }
@tweak-yr-color-accent-1-tone-3: #0f7a6d;


/**
 * Colors / Accent 2
 */

// tweak: { "category": "Colors / Accent 2", "label": "Tone 1", "title": "tweak-yr-color-accent-2-tone-1", "type": "color", "disableTransparency": "false", "target": ".yr-nav-a" }
@tweak-yr-color-accent-2-tone-1: #f96b2b;;

// tweak: { "category": "Colors / Accent 2", "label": "Tone 2", "title": "tweak-yr-color-accent-2-tone-2", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-accent-2-tone-2: #ff7c3a;;

// tweak: { "category": "Colors / Accent 2", "label": "Tone 3", "title": "tweak-yr-color-accent-2-tone-3", "type": "color", "disableTransparency": "false", "target": ".yr-loader, .yr-nav-panel" }
@tweak-yr-color-accent-2-tone-3: #ff965e;;


/**
 * Colors / Theme 1
 */

// tweak: { "category": "Colors / Theme 1", "label": "Tone 1", "title": "tweak-yr-color-theme-1-tone-1", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-theme-1-tone-1: #f96b2b;

// tweak: { "category": "Colors / Theme 1", "label": "Tone 2", "title": "tweak-yr-color-theme-1-tone-2", "type": "color", "disableTransparency": "false", "target": ".yr-nav-holds, .yr-nav-hold-a" }
@tweak-yr-color-theme-1-tone-2: #ff7c3a;

// tweak: { "category": "Colors / Theme 1", "label": "Tone 3", "title": "tweak-yr-color-theme-1-tone-3", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-theme-1-tone-3: #ff965e;


/**
 * Colors / Theme 2
 */

// tweak: { "category": "Colors / Theme 2", "label": "Tone 1", "title": "tweak-yr-color-theme-2-tone-1", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-theme-2-tone-1: #057c72;

// tweak: { "category": "Colors / Theme 2", "label": "Tone 2", "title": "tweak-yr-color-theme-2-tone-2", "type": "color", "disableTransparency": "false", "target": ".yr-nav-hold .yr-use-hold-shape" }
@tweak-yr-color-theme-2-tone-2: #07938e;

// tweak: { "category": "Colors / Theme 2", "label": "Tone 3", "title": "tweak-yr-color-theme-2-tone-3", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-theme-2-tone-3: #0caa9e;


/**
 * Colors / Theme 3
 */

// tweak: { "category": "Colors / Theme 3", "label": "Tone 1", "title": "tweak-yr-color-theme-3-tone-1", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-theme-3-tone-1: #630228;

// tweak: { "category": "Colors / Theme 3", "label": "Tone 2", "title": "tweak-yr-color-theme-3-tone-2", "type": "color", "disableTransparency": "false", "target": ".yr-nav-hold .yr-use-hold-shape" }
@tweak-yr-color-theme-3-tone-2: #7f0030;

// tweak: { "category": "Colors / Theme 3", "label": "Tone 3", "title": "tweak-yr-color-theme-3-tone-3", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-theme-3-tone-3: #9e0542;


/**
 * Colors / Theme 4
 */

// tweak: { "category": "Colors / Theme 4", "label": "Tone 1", "title": "tweak-yr-color-theme-4-tone-1", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-theme-4-tone-1: #db992e;

// tweak: { "category": "Colors / Theme 4", "label": "Tone 2", "title": "tweak-yr-color-theme-4-tone-2", "type": "color", "disableTransparency": "false", "target": ".yr-nav-hold .yr-use-hold-shape" }
@tweak-yr-color-theme-4-tone-2: #e5ac45;

// tweak: { "category": "Colors / Theme 4", "label": "Tone 3", "title": "tweak-yr-color-theme-4-tone-3", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-theme-4-tone-3: #f7b955;


/**
 * Colors / Theme 5
 */

// tweak: { "category": "Colors / Theme 5", "label": "Tone 1", "title": "tweak-yr-color-theme-5-tone-1", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-theme-5-tone-1: #f28781;

// tweak: { "category": "Colors / Theme 5", "label": "Tone 2", "title": "tweak-yr-color-theme-5-tone-2", "type": "color", "disableTransparency": "false", "target": ".yr-nav-hold .yr-use-hold-shape" }
@tweak-yr-color-theme-5-tone-2: #ffa69d;

// tweak: { "category": "Colors / Theme 5", "label": "Tone 3", "title": "tweak-yr-color-theme-5-tone-3", "type": "color", "disableTransparency": "false" }
@tweak-yr-color-theme-5-tone-3: #ffb5b3;


/**
 * Footer
 */

// tweak: { "category" : "Footer", "label" : "Show Footer", "title" : "tweak-yr-footer-show", "type" : "checkbox", "active" : true, "target": ".yr-footer" }
// tweak: { "category" : "Footer / Contact", "label" : "Show Contact Info", "title" : "tweak-yr-footer-contact-show", "type" : "checkbox", "active" : false, "target": ".yr-footer", "showOnlyWhenPresent": ".tweak-yr-footer-show" }


/**
 * Contact
 */


/**
 * Content Overrides
 */


/**
 * Image Block: Custom
 */

// tweak: { "category": "Image Block: Custom", "label": "Use Site Fonts", "title": "tweak-yr-sqs-image-block-use-site-fonts", "type": "checkbox", "active": true, target: ".sqs-layout .sqs-block-image" }
// tweak: { "category": "Image Block: Custom", "label": "Fixed Font Size", "title": "tweak-yr-sqs-image-block-fixed-font-size", "type": "checkbox", "active": true, target: ".sqs-layout .sqs-block-image" }


/**
 * Image Block: Poster
 */

// tweak: { "category": "Image Block: Poster", "label": "Subtitle Alignment", "title": "tweak-yr-sqs-image-block-poster-anchor-sub", "type": "dropdown", "options": ["Up High", "In The Middle", "Down Low"], "default": "Down Low", target: ".sqs-layout .design-layout-poster" }


/**
 * This fixes the following bug:
 *     site.css:1      .Share {
 *     site.css:1          &-buttons {
 *     site.css:1              &-item {
 *     site.css:10019              padding: 0 (.5 * (@tweak-yr-font-font-share-buttons-size - @tweak-yr-share-buttons-label-size))
 *
 *     ExecuteError VAR_UNDEFINED: Failed to locate a definition for the variable @tweak-yr-font-font-share-buttons-label-size in current scope
 */
// (bugfix) tweak: { "category": "Fonts", "label": "Share Buttons Label Font Size", "title": "tweak-share-buttons-label-font-font-size", "type": "value" }
@tweak-share-buttons-label-font-font-size: 16px;