@yr-sqs-cols-max: 12;
:root { --yr-sqs-cols-max: @yr-sqs-cols-max; }


/**
 * Selectors.
 */

// For CMS editing modes

// These appear on `body`
@yr-select-sqs-edit-mode: ~'.sqs-edit-mode';
@yr-select-sqs-edit-mode-on: ~'.sqs-edit-mode-active';
@yr-select-sqs-edit-style: ~'.sqs-hide-overlay-widgets';

// These appear on the relevant editable element
// Invalid selector unfortunately
// @yr-select-sqs-block-off: ~'squarespace:block-field';
@yr-select-sqs-block-on: ~'[data-type="block-field"]';
@yr-select-sqs-block-empty: ~'@{yr-select-sqs-block-on}.empty';
@yr-select-sqs-edit-on: ~'.sqs-editing';


/**
 * Z-Indexes.
 */

@yr-z3: 1001;
@yr-z-top: @yr-z3;

@yr-z2: 1;
@yr-z-footer: @yr-z2;

@yr-z1: 1;
@yr-z-nav-holds-view: @yr-z1 + 0;
@yr-z-nav-holds-hits: @yr-z1 + 1;
@yr-z-nav-holds-a: @yr-z1 + 2;
@yr-z-nav-holds-mode: @yr-z1 + 3;
@yr-z-nav-holds-mode-exit: @yr-z1 + 4;
@yr-z-nav-holds-info-reset: @yr-z1 + 5;
@yr-z-nav-holds: @yr-z1 + 6;
@yr-z-nav-holds-content: @yr-z1 + 7;
@yr-z-nav-holds-info-toggle: @yr-z1 + 8;
@yr-z-nav-holds-info-modal-reset: @yr-z1 + 9;
@yr-z-nav-holds-info-modal: @yr-z1 + 10;

@yr-z0: 1000;
@yr-z-nav: @yr-z0 + 0;
@yr-z-nav-home: @yr-z0 + 1;
@yr-z-nav-toggle: @yr-z0 + 2;
@yr-z-nav-overlay: @yr-z0 + 3;
@yr-z-nav-panel: @yr-z0 + 4;
@yr-z-nav-toggler: @yr-z0 + 5;
@yr-z-loader: @yr-z0 + 6;

:root {
    --yr-z3: @yr-z3;
    --yr-z-top: @yr-z-top;
    --yr-z2: @yr-z2;
    --yr-z-footer: @yr-z-footer;
    --yr-z1: @yr-z1;
    --yr-z-nav-holds-view: @yr-z-nav-holds-view;
    --yr-z-nav-holds-hits: @yr-z-nav-holds-hits;
    --yr-z-nav-holds-a: @yr-z-nav-holds-a;
    --yr-z-nav-holds-mode: @yr-z-nav-holds-mode;
    --yr-z-nav-holds-mode-exit: @yr-z-nav-holds-mode-exit;
    --yr-z-nav-holds-info-reset: @yr-z-nav-holds-info-reset;
    --yr-z-nav-holds: @yr-z-nav-holds;
    --yr-z-nav-holds-content: @yr-z-nav-holds-content;
    --yr-z-nav-holds-info-toggle: @yr-z-nav-holds-info-toggle;
    --yr-z-nav-holds-info-modal-reset: @yr-z-nav-holds-info-modal-reset;
    --yr-z-nav-holds-info-modal: @yr-z-nav-holds-info-modal;
    --yr-z0: @yr-z0;
    --yr-z-nav: @yr-z-nav;
    --yr-z-nav-home: @yr-z-nav-home;
    --yr-z-nav-toggle: @yr-z-nav-toggle;
    --yr-z-nav-overlay: @yr-z-nav-overlay;
    --yr-z-nav-panel: @yr-z-nav-panel;
    --yr-z-nav-toggler: @yr-z-nav-toggler;
    --yr-z-loader: @yr-z-loader;
}


/**
 * Sizes.
 */

@yr-size-mq-s: 400px;
@yr-size-mq-s1: 500px;
@yr-size-mq-m: 700px;
@yr-size-mq-m1: 900px;
@yr-size-mq-l: 1000px;
@yr-size-mq-l1: 1200px;
@yr-size-mq-l2: 1500px;

@yr-size-hit-min: 30px;

:root {
    // Unfortunately CSS custom properties can't be used for media querying.

    --yr-size-mq-s: @yr-size-mq-s;
    --yr-size-mq-s1: @yr-size-mq-s1;
    --yr-size-mq-m: @yr-size-mq-m;
    --yr-size-mq-m1: @yr-size-mq-m1;
    --yr-size-mq-l: @yr-size-mq-l;
    --yr-size-mq-l1: @yr-size-mq-l1;
    --yr-size-mq-l2: @yr-size-mq-l2;

    --yr-size-hit-min: @yr-size-hit-min;
}


/**
 * Media queries.
 *
 * @example `@m: ~'only screen and @{yr-mq-s-up}'; @media @m {...}`
 */

@yr-mq-pre: 'only screen';

@yr-mq-s-dn: %('(max-width: %s)', @yr-size-mq-s + 1px);
@yr-mq-s-up: ~'(min-width: @{yr-size-mq-s})';

@yr-mq-s1-dn: %('(max-width: %s)', @yr-size-mq-s1 + 1px);
@yr-mq-s1-up: ~'(min-width: @{yr-size-mq-s1})';

@yr-mq-m-dn: %('(max-width: %s)', @yr-size-mq-m + 1px);
@yr-mq-m-up: ~'(min-width: @{yr-size-mq-m})';
@yr-mq-s-m: ~'@{yr-mq-s-up} and @{yr-mq-m-dn}';

@yr-mq-l-dn: %('(max-width: %s)', @yr-size-mq-l + 1px);
@yr-mq-l-up: ~'(min-width: @{yr-size-mq-l})';
@yr-mq-m-l: ~'@{yr-mq-m-up} and @{yr-mq-l-dn}';

@yr-mq-fold-grid-dn: ~'(max-width: @{tweak-yr-size-fold-grid-at})';
@yr-mq-hold-ring-up: ~'(min-width: @{tweak-yr-size-hold-ring}) and (min-height: @{tweak-yr-size-hold-ring})';


/**
 * Color Themes.
 */

// Nested list - [theme[tone]]

@yr-color-theme-1: @tweak-yr-color-theme-1-tone-1,
    @tweak-yr-color-theme-1-tone-2,
    @tweak-yr-color-theme-1-tone-3;
@yr-color-theme-2: @tweak-yr-color-theme-2-tone-1,
    @tweak-yr-color-theme-2-tone-2,
    @tweak-yr-color-theme-2-tone-3;
@yr-color-theme-3: @tweak-yr-color-theme-3-tone-1,
    @tweak-yr-color-theme-3-tone-2,
    @tweak-yr-color-theme-3-tone-3;
@yr-color-theme-4: @tweak-yr-color-theme-4-tone-1,
    @tweak-yr-color-theme-4-tone-2,
    @tweak-yr-color-theme-4-tone-3;
@yr-color-theme-5: @tweak-yr-color-theme-5-tone-1,
    @tweak-yr-color-theme-5-tone-2,
    @tweak-yr-color-theme-5-tone-3;

@yr-color-themes: @yr-color-theme-1,
    @yr-color-theme-2,
    @yr-color-theme-3,
    @yr-color-theme-4,
    @yr-color-theme-5;

@yr-color-themes-all-num: length(@yr-color-themes);
@yr-color-themes-num: min(@yr-color-themes-all-num, @tweak-yr-color-themes-num);

:root {
    // Would export these to CSS in a loop, but can't set the property key dynamically...
    --yr-color-theme-1: @yr-color-theme-1;
    --yr-color-theme-2: @yr-color-theme-2;
    --yr-color-theme-3: @yr-color-theme-3;
    --yr-color-theme-4: @yr-color-theme-4;
    --yr-color-theme-5: @yr-color-theme-5;

    --yr-color-themes: @yr-color-themes;

    --yr-color-themes-all-num: @yr-color-themes-all-num;
    --yr-color-themes-num: @yr-color-themes-num;
}


/**
 * Eases
 */

@yr-ease-slide: ease-in-out;

@yr-ease-fade: ease-in-out;
@yr-ease-fade-in: ease-in;
@yr-ease-fade-out: ease-out;

@yr-ease-far-in: cubic-bezier(1, 0, 0.75, 1);
@yr-ease-far-out: cubic-bezier(0.25, 0, 0, 1);

:root {
    --yr-ease-slide: @yr-ease-slide;

    --yr-ease-fade: @yr-ease-fade;
    --yr-ease-fade-in: @yr-ease-fade-in;
    --yr-ease-fade-out: @yr-ease-fade-out;

    --yr-ease-far-in: @yr-ease-far-in;
    --yr-ease-far-out: @yr-ease-far-out;
}


/**
 * Loader animations.
 */

// Style Editor has trouble with time units, so this is a way to provide fallbacks.
// (Less 1.3.0 bullshit again, stupid variable scoping and missing functions pushed me this way.)

// Ensure this value is the same in `scripts/controllers/site.js`
@yr-fade-page-time: 600ms;

.yr-fade-page-time(@unit) when (@unit = s), (@unit = ms) {
    @yr-fade-page-time: @tweak-yr-fade-page-time;
}
.yr-fade-page-time(get-unit(@tweak-yr-fade-page-time));

:root { --yr-fade-page-time: @yr-fade-page-time; }
